{% extends "base.html" %}

{% block content %}

<section class="artist-profile-page">

    <!-- BACK BUTTON -->
    <a class="back-link" href="/">← Home</a>

    <!-- HERO -->
    <section class="artist-hero justin-hero-bg">

        <div class="artist-hero-overlay">

            <img
                class="artist-profile-pic"
                src="{{ url_for('static', filename='images/artist1.jpg') }}"
                alt="Justin.url">

            <div class="artist-hero-text">

                <p class="label">Artist</p>

                <h1>Justin.url</h1>

                <p class="subtitle">
                   <Multi-instrumentalist></Multi-instrumentalist> • Producer • Composer
                </p>

            </div>

        </div>

    </section>

    <!-- ALBUMS -->
    <section class="albums-section">

        <h2>Albums</h2>

        <!-- MAN VS MACHINE -->
        <a class="album-card"
           href="{{ url_for('man_vs_machine') }}">

            <img
                class="album-cover"
                src="{{ url_for('static', filename='images/Man_Vs_Machine_cover.jpg') }}"
                alt="Man Vs Machine">

            <div class="album-info">

                <h3>Man Vs Machine</h3>

                <p>Visual Sound Collection</p>

            </div>

        </a>

        <!-- DEMO PACK EP -->
        <a class="album-card"
           href="{{ url_for('demo_pack_ep') }}">

            <img
                class="album-cover"
                src="{{ url_for('static', filename='images/demopack.jpg') }}"
                alt="demo Pack EP">

            <div class="album-info">

                <h3>demo Pack EP</h3>

                <p>
                    Summer In A Nutshell<br>
                    Sincerely<br>
                    Poem For A Loved One
                </p>

            </div>

        </a>

    </section>

</section>

{% endblock %}