{% extends "base.html" %}

{% block content %}

<section class="home-page">

    <div class="torus-background"></div>

    <div class="home-title">

        {% if current_user.is_authenticated %}

            <h1 class="welcome-user">
                Welcome, {{ current_user.username }}
            </h1>

        {% else %}

            <h1 class="main-home-title">
                Music Mankind
            </h1>

        {% endif %}

        <h2>
            Latest Releases
        </h2>

    </div>

    <div class="artist-grid">

        {% for upload in uploads %}

        <a
            href="{{ url_for('release_page', release_id=upload.id) }}"
            class="release-link"
        >
            <div class="artist-card">

                <img
                    src="/static/images/{{ upload.image_filename }}"
                    alt="{{ upload.album_name }}"
                >

                <h3>
                    {{ upload.artist_name }}
                </h3>

                <p>
                    {{ upload.album_name }}
                </p>

                <p>
                    {{ upload.release_type|title }}
                </p>

                <p>
                    Released:
                    {{ upload.release_date.strftime('%B %d, %Y') }}
                </p>

                <p>
                    Tracks:
                    {{ upload.tracks|length }}
                </p>

            </div>
        </a>

        {% endfor %}

        <a class="artist-card" href="/artist1">
            <img src="/static/images/artist1.jpg" alt="Justin.url">

            <h3>Justin.url</h3>

            <p>Bassist • Jacksonville</p>
        </a>

        <a class="artist-card" href="/artist2">
            <img src="/static/images/artist3.jpg" alt="Evan Anderson">

            <h3>Evan Anderson</h3>

            <p>Piano • Composer</p>
        </a>

        <a class="artist-card" href="/darvin">
            <img src="/static/images/darvin.jpg" alt="Darvin">

            <h3>Darvin</h3>

            <p>Electronic Soul • Producer</p>
        </a>

        <a class="artist-card" href="/artist3">
            <img src="/static/images/artist2.jpg" alt="fro.nea">

            <h3>fro.nea</h3>

            <p>Visual Sound Collection</p>
        </a>

        <a class="artist-card" href="/artist4">
            <img src="/static/images/daniel.png" alt="Eseohe">

            <h3>Eseohe</h3>

            <p>R&B • Producer • Songwriter</p>
        </a>

        <a class="artist-card" href="/calvin_nook">
            <img src="/static/images/calvinnook.jpg" alt="calvin_nook">

            <h3>calvin_nook</h3>

            <p>Short Story Collection</p>
        </a>

         <a class="artist-card" href="/rocklee">
            <img src="/static/images/rocklee.jpg" alt="Rocklee">

            <h3>Rocklee</h3>

            <p>Artist • Producer</p>
        </a>

    </div>

</section>

{% endblock %}