{% extends "base.html" %}

{% block content %}

<section class="radio-page">

    <h1 class="radio-title">
        🎵 Music Mankind Radio
    </h1>

    <p class="subtitle">
        Explore music across the world
    </p>


    <div class="radio-layout">

        <!-- EARTH -->
        <div class="globe-container">

            <div id="scene-container"></div>

        </div>


        <!-- STATIONS -->
        <div class="stations-panel">

            <h2 id="regionTitle">
                Stations
            </h2>

            <div id="stations"></div>

        </div>

    </div>


    <!-- PLAYER -->
    <div class="player-bar">

        <audio
            id="radioAudio"
            controls
        ></audio>

    </div>

</section>


<!-- THREE.JS FIRST -->
<script
    src="https://cdn.jsdelivr.net/npm/three@0.161.0/build/three.min.js">
</script>


<!-- RADIO JAVASCRIPT SECOND -->
<script
    src="{{ url_for('static', filename='radio.js') }}">
</script>

{% endblock %}